<!-- app/views/user_mailer/password_reset_email.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Recuperação de senha</title>
</head>
<body>
  <h1>Recuperação de senha</h1>
  <p>Você está recebendo este e-mail porque solicitou a redefinição de senha.</p>
  <p>Por favor, clique no link abaixo para redefinir sua senha:</p>
  <p><%= link_to "Redefinir senha", edit_reset_password_url(@user.password_reset_token) %></p>
  <p>Se você não solicitou a redefinição de senha, ignore este e-mail.</p>
</body>
</html>
